mat-card {
    margin-top: 2ex;
}

mat-card-title {
    font-size: medium;
}

.item-icon {
    max-height: 25px;
    margin-top: 1ex;
    margin-right: 1ex;
}

.item-name {
    font-size: large;
    margin-top: 1ex;
}

.collapsed-description {
    margin-right: 2ex;
}

mat-expansion-panel {
    margin-bottom: 1ex;
}