<h1>Smite Item Updater</h1>
<div class="login">
  <div *ngIf="auth.user$ | async as user; else login">
    <div>
      <img [src]="user.photoURL" class="width-50 inline-block vertical-align-bottom margin-right-1ex">
      <div class="inline-block">
        <div>{{ user.displayName }}</div>
        <button mat-raised-button color="primary" (click)="auth.signOut()">Sign Out</button>
      </div>
    </div>
  </div>

  <ng-template #login>
    <div>You must login to contribute.</div>
    <button mat-raised-button color="primary" (click)="auth.googleSignIn()">Login with Google</button>
  </ng-template>

  <ng-container *ngIf="auth.user$ | async as user">
    <ng-container *ngIf="auth.data$ | async as data">
      <div class="margin-top-2ex margin-bottom-2ex">
        <button mat-raised-button color="primary" (click)="addItem(data.items)" class="margin-right-1ex">Add
          Item</button>
        <button mat-raised-button color="primary" (click)="updateItems(data.items)">Save</button>
      </div>


      <div *ngFor="let item of data.items; trackBy:trackById">
        <app-item [item]="item" (delete)="deleteItem(item, data.items)" (duplicate)="duplicateItem(item, data.items)">
        </app-item>
      </div>

      <div *ngIf="!data.items">
        <div>Begin by adding an item or <span (click)="loadCurrentItems()" class="clickable" color="primary">loading the current items from the Smite builder site</span>.</div>
      </div>

      <div class="margin-top-2ex">
        <button mat-raised-button color="primary" (click)="saveItemsToLocalStorage(data.items)">Set As Developer Mode Items</button>
      </div>

      <div>
        <mat-form-field class="full-width margin-right-1ex">
          <mat-label>Import Item JSON</mat-label>
          <textarea matInput cdkTextareaAutosize #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="1"
            [(ngModel)]="itemJson"></textarea>
        </mat-form-field>
        <button mat-raised-button color="primary" (click)="importItems(itemJson)" class="margin-right-1ex">Import Items from JSON</button>
        <button mat-raised-button color="primary" (click)="downloadItems(data.items)">Download Items as JSON</button>
      </div>
      <button mat-raised-button color="primary" (click)="loadCurrentItems()" class="margin-top-2ex">Reset to Current Smite Builder Items</button>
    </ng-container>

  </ng-container>

</div>