.width-50 {
    width: 50px;
}

.inline-block {
    display: inline-block;
}

.vertical-align-bottom {
    vertical-align: bottom;
}

.margin-right-1ex {
    margin-right: 1ex;
}

.margin-top-2ex {
    margin-top: 2ex;
}

.margin-bottom-2ex {
    margin-bottom: 2ex;
}

.full-width {
    width: 100%;
}

.clickable {
    cursor: pointer;
    text-decoration: underline;
}