<mat-form-field>
    <input matInput [(ngModel)]="item.physicalProtection" type="number" placeholder="Physical Protection">
</mat-form-field>
<mat-form-field>
    <input matInput [(ngModel)]="item.magicalProtection" type="number" placeholder="Magical Protection">
</mat-form-field>
<mat-form-field>
    <input matInput [(ngModel)]="item.health" type="number" placeholder="Health">
</mat-form-field>
<mat-form-field>
    <input matInput [(ngModel)]="item.hpFive" type="number" placeholder="HP5">
</mat-form-field>
<mat-form-field>
    <input matInput [(ngModel)]="item.crowdControl" type="number" placeholder="CCR">
</mat-form-field>